<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('parts/head') %>
</head>
<body class="container">

<header>
  <%- include('parts/header') %>
</header>

<main>
<div class="row">
  <div class="col-xs-3">
    <%- include('parts/quicklinks') %>
  </div>

  <div class="col-xs-9">
    <div class="well">
      <p>Have a bot or channel you like to see included in this project? Do feel free to fill in the form below!</p>
      <iframe src="https://forms.gle/fjP7Eux9Ena4w9neA" height=1300 width=750></iframe>
	</div>
  </div>
  </div>
</main>
  
</body>
</html>