<!-- parts/head.ejs -->
<meta charset="UTF-8">
<title>NUS Bots and Channels</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
    body    { padding-top:30px; }
</style>