<!-- parts/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-education"></span>
            NUSB&C
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/all">All entries</a></li>
			<li><a href="/submit">Submit new bot/channel</a></li>
			<li><a href="/about">About</a></li>
        </ul>
    </div>

</div>
</nav>