<!-- parts/quicklinks.ejs -->

<div class="well">
  <p style="font-family: Trebuchet MS; font-size:15px">Quick links</p>
  <hr style="height:1px;border:none;color:gray;background-color:gray">
  <p><a href="https://nusmods.com/" target="blank"><img src="https://nusmods.com/favicon-16x16.png"/> NUSMods</a></p>
  <p><a href="https://nuswhispers.com/" target="blank"><img src="https://www.nuswhispers.com/favicon-16x16.png"/> NUSWhispers</a></p>
  <p><a href="https://t.me/nusbncbot/" target="blank"><img src="https://telegram.org/img/t_logo.png" height="16" width="16"/> Telegram bot</a></p>
</div>